html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {background-color: aliceblue;
box-sizing: border-box;
font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-content: flex-start;
    overflow-x: hidden;
    margin: 0;
    color: rgb(37, 37, 37);
}

h1, h2 {text-align: center;}

ul {
    width: max-content;
    margin: auto;
    text-align: left;
    padding-left: 0;
}
ol, p {
    width: 400px;
    margin: auto;
    text-align: left;
    padding-left: 0;
}
img {
    display: block;
    width: 500px;
    margin: auto;
} 
a {
    background-color:  rgb(112, 173, 227);
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 6px 18px;
    border-radius: 4px;
    width: min-content;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: 0 0 60px;
    color:rgb(112, 173, 227);
}

.links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.home-link {
    display: flex;
    justify-content: flex-start;
    padding: 8px 8px 0px;
}
