* {background-color: aliceblue;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {text-align: center;}

ul {
    width: max-content;
    margin: auto;
    text-align: left;
    padding-left: 0;
}
ol, p {
    width: 400px;
    margin: auto;
    text-align: left;
    padding-left: 0;
}
img {
    display: block;
    width: 500px;
    margin: auto;
} 
a {
    color: rgb(150, 104, 74)
}
