html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {background-color: aliceblue;
box-sizing: border-box;
font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    margin: 0;
    color: rgb(37, 37, 37);
    padding-bottom: 10px;
}

h1, h2, ul, ol, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-position: inside;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24;
}

img {
    width: 500px;
    margin: auto;
    border-radius: 4px;
} 

.recipe-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.picture, .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: 450px;
}


.caption {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    gap: 8px;
}

.instructions ul {
    margin-bottom: 16px;
}

a {
    background-color:  rgb(112, 173, 227);
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 6px 18px;
    border-radius: 4px;
    width: min-content;
}

.home, .title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 0 60px;
    color:rgb(112, 173, 227);
    width: 100vw
}

.home {
    align-items: center;
    padding: 30px;
}

.title {
    align-items: flex-start;
    padding: 0 0 30px;
}

.links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.home-link {
    display: flex;
    padding: 8px 8px 0px;
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
    width: 100vw
}

.home-link a {
    font-size: 18px;
}
